[submodule "bundle/multi-cursor"]
	path = bundle/multi-cursor
	url = git@github.com:dopey/vim-multiple-cursors.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:dopey/vim-surround.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:dopey/ctrlp.vim.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git@github.com:dopey/vim-javascript.git
[submodule "bundle/javascript-syntax"]
	path = bundle/javascript-syntax
	url = git@github.com:dopey/vim-javascript-syntax.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git@github.com:dopey/vim-colors-solarized.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:dopey/vim-go.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git@github.com:dopey/vim-puppet.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "jshint"]
	path = jshint
	url = https://github.com/jshint/jshint.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git@github.com:dopey/snipmate.vim.git
[submodule "bundle/snipme"]
	path = bundle/snipme
	url = git@github.com:dopey/snipmate.vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/jsdoc"]
	path = bundle/jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "bundle/nerd-tree"]
	path = bundle/nerd-tree
	url = https://github.com/scrooloose/nerdtree.git
